body{
    width: 70%;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-image: url('img/fejkep.jpg');
    background-position: center center;
    height: 250px;
    padding-top:50px;
}

h1{
    color: rgb(9, 75, 20);
    background-color: rgba(255, 255, 255, 0.6); /*40%-ban átlátszó*/
    margin-top:60px;
    margin-left:60px;
    text-indent: 25px;
    margin-right: 60px;
    font-weight: bold;
}

footer{
    background-color:  rgb(9, 75, 20);
    color:white;
    height: 30px;
    text-align: center;
    
}
 footer p{
    padding-top:5px;
 }

 img{
     width: 500px;
 }